body {
	background-color: black;
	font-size: 22px;
	color: seashell;
	font-family: Helvetica;
	opacity: 0.9;
	text-align: center;
	margin: 0;
}

body >div {}

.container-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.container-hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

a {
	color: seashell;
	text-decoration: underline;
}

h2, h3, h4 {
	margin: 0;
	padding: 10px;
}

.content {
	width: 1200px;
	margin: 70px auto 0px auto;
}

header {
	position: fixed;
	top: 0;
	z-index: 5;
	background-color: black;
	width: 100%;
	height: 69px;
	border-bottom: 1px solid seashell;
	align-items: center;
}

header img {
	padding-left: 10px;
	height: 50px;
}

header nav {
	flex-grow: 1;
	text-align: right;
}

nav span {
	padding: 20px 10px;
	display: inline-block;
}

#mission {
	background-image: url("../img/img-mission-background.jpg");
	height: 700px;
}

.mission-headline {
	background-color: black;
}

#store {
	width: 1000px;
	margin: 70px auto;
}

.item img {
	height: 200px;
	width: 300px;
	margin: 10px;
	display: block;
}

.item span {
	display: block;
    font-weight: bold;
}

#locations {
	background-image: url("../img/img-locations-background.jpg");
	height: 430px;
	padding-top: 70px;
}

.location {
	margin: 5px 20px;
	background-color: black;
	flex-basis: 280px;
	opacity: 1;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contact {
	height: 200px;
}

footer {
	text-align: left;
    padding-left: 20px;
}
